<title>Draw Whiteboard</title>
<style>
    body {
        height:100%;
        background: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background.jpg") no-repeat center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: cover;
    }
</style>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Reg_Sign.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<div class="login-page">
    <div class="form">
        <form id="R" name="Rform" class="register-form">
            <input id="handle" type="text" placeholder="username"/><h6 style="color:RED;"id="v_handle"></h6>
            <input id="password" type="password" placeholder="password"/><h6 style="color:RED;"id="v_password"></h6>
            <input id="Cpassword" type="password" placeholder="repeat password"/><h6 style="color:RED;"id="v_Cpassword"></h6>
            <button type="button" onclick="register_validation()">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form id="L" name="Lform" class="login-form">
            <input id="Handle" type="text" placeholder="username"/><h6 style="color:RED;"id="v_Handle"></h6>
            <input id="Password" type="password" placeholder="password"/><h6 style="color:RED;"id="v_Password"></h6>
            <button type="button" onclick="login_validation()">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>
<script>

    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
    function login_validation()
    {
        var handle = document.forms['Lform']['Handle'].value;
        var password = document.forms['Lform']['Password'].value;

        var hr = new XMLHttpRequest();
        hr.onreadystatechange = function()
        {
            if(hr.readyState == 4 && hr.status == 200)
            {
                result = hr.responseText;
                //alert(result);
                result=JSON.parse(result);
                document.getElementById("v_Handle").innerHTML = result['handle'];
                document.getElementById("v_Password").innerHTML = result['password'];

                if(result["statue"].indexOf('OK')!=-1)
                {
                    document.getElementById("L").submit();
                }
            }
        };
        var v = "handle="+handle+"&"+"password="+password;
        hr.open("POST", "/login", true);
        hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        hr.send(v);
    }

    function register_validation()
    {

        var handle = document.forms['Rform']['handle'].value;
        var password = document.forms['Rform']['password'].value;
        var Cpassword = document.forms['Rform']['Cpassword'].value;


        var hr = new XMLHttpRequest();
        hr.onreadystatechange = function()
        {
            if(hr.readyState == 4 && hr.status == 200)
            {
                result = hr.responseText;
                //alert(result);
                //exit;
                result=JSON.parse(result);

                document.getElementById("v_handle").innerHTML = result['handle'];
                document.getElementById("v_password").innerHTML = result['password'];
                document.getElementById("v_Cpassword").innerHTML = result['Cpassword'];



                if(result["statue"].indexOf('OK')!=-1)
                {
                    document.getElementById("R").submit();
                }
            }
        };
        var v = "handle="+handle+"&"+"password="+password+"&"+"Cpassword="+Cpassword;
        hr.open("POST", "/register", true);
        hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        hr.send(v);
    }
</script>
